.badge {
    margin-left: 7px;
}
.fade-in {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
