html, body {
    width: 100%;
    height: 100%;
    background: #E0F2F1;
    background: linear-gradient(#E0F2F1, #ECEFF1);
}
.badge {
    margin-left: 7px;
}
.fade-in {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
