html, body {
    width: 100%;
    height: 100%;
    background: #020C15;
}
h2, h5 {
    color: #FFF8F0;
}
.badge-secondary {
    color: #FFF8F0;
    background: #26a67e;
}
.badge {
    margin-left: 10px;
}
.fade-in {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
